 body{
      margin: 0px;
      background:url("images/background.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-blend-mode:lighten ;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .head
      {
      background-color: rgb(255, 194, 82);
      top: 0px;
      height:50px;
      right: 0px;
      left: 0px;
      box-shadow: 0px 0px 4px rgb(90, 90, 90);
      position: fixed;
      display: grid;
      align-items: center;
      justify-content: center;
      z-index: 1;
      font-size: x-large;
      font-weight: bold;
      }
      .panel
      {
      background-color: rgb(255, 194, 82);
      top: 50px;
      bottom: 0px;
      left: 0px;
      width: 70px;
      box-shadow: 0px 5px 4px rgb(90, 90, 90);
      position: fixed;
      z-index: 1;
      display: grid;
      align-items: center;
      justify-content: center;
      text-orientation:upright;
      writing-mode: vertical-lr;
      font-size: x-large;
      font-weight: bold;
      }

      .main{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      row-gap: 10px;
      padding:65px 0px 10px 85px;
      position: relative;
      }
      @media(max-width:900px){
      .main{
      grid-template-columns: 1fr 1fr;}
      }
      @media(min-width:901px) and (max-width:1200px){
      .main{
      grid-template-columns: 1fr 1fr 1fr;}
      }
      @media(min-width:1201px) and (max-width:1500px){
      .main{
      grid-template-columns: 1fr 1fr 1fr 1fr;}
      }
      .foot
      {
      height:30px;
      background-color: rgb(49, 49, 49);
      position: relative;
      bottom: 0px;
      color: white;
      display: grid;
      align-items: center;
      justify-content: center;
      }
      .name {
      background-color: rgb(255, 192, 76);
      font-weight: bold;
      font-size: 25px;
      display: grid;
      align-items: center;
      justify-content: center;
      }
      .artist_pic
      {
      position: relative;
      }
      .photo
      {
      height: 195px;
      width:100%;
      object-fit:cover;
      object-position:top;
      }
      .like
      {
        position:absolute;
        border-color:white ;
        border-style:solid ;
        right: 10px;
        top: 10px;
        height: 26px;
        width: 26px;
        border-radius: 13px;
        padding: 0px;
        padding-bottom: 1px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
      }
      .photo:hover{
      object-fit: scale-down;
      object-position: center;
      }

      .count
      {
      margin: 0px;
      position: absolute;
      top:5px;
      left:8px;
      height:20px;
      width:15px;
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      background-color: lightgray;
      padding: 2px 4px 2px 4px;
      opacity: 0.5;
      }

      .weblist {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 2px;
      }
      .web {
      height:35px;
      display: grid;
      grid-template-columns: 1fr 4fr ;
      column-gap:5px;
      padding-bottom: 1px;
      border-bottom-style:solid ;
      border-width:1px ;
      }

      .sitepic
      {
      height: 35px;
      width: 100%;
      object-fit: contain;
      object-position: top;
      }
      .sitename
      {
      display: grid;
      align-items: center;
      font-weight: bold;
      }
      .button
      {
      display: grid;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      background-color: rgb(255, 184, 54);
      color: black;
      margin-top: 5px;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
      box-shadow: 0px 0px 4px rgb(90, 90, 90);
      }
      .theme
      {
      background-color: antiquewhite;
      display: grid;
      align-items: center;
      justify-content: center;
      margin-left: 35px;
      position: relative;
      }
      .show_favs
      {
        position: absolute;
        right:50px;
        height: 35px;
        width: 100px;
        border-style: solid;
        font-size: 13px;
        text-shadow: 1px 1px 2px rgb(156, 148, 148);
        border-radius: 15px;
        border-width: 4px;
        border-color: rgba(255, 224, 137, 0.913);
        background-color: rgb(236, 236, 236);
        box-shadow: 1px 1px 4px rgb(90, 90, 90);
        cursor: pointer;
        transition: height,width 0.15s;
      }
      .show_favs:hover
      {
        height: 38px;
        width: 105px;
      }
